<ng-container *ngIf="chartData">
  
  <div class="control-row">
  <button (click)="exportAsSpreadsheet()">Export as Spreadsheet</button>
  
  <button (click)="viewHandler()">View as {{viewAsTable ? 'Graph' : 'Table'}}</button>

  <select (change)="dateRangeSelected($event.target.value)">
    <option selected disabled hidden>Time Frame</option>
    <option *ngFor="let opt of timeRanges, index as i" [value]="i">{{opt.display}}</option>
  </select>

  <select (change)="groupBy($event.target.value)" [ngStyle]="{'visibility': viewAsTable ? 'hidden' : 'visible'}">
    <option selected disabled hidden>Group By</option>
    <option>Day</option>
    <option>Month</option>
  </select>
</div>

  <!-- Start Stats  -->
  <table class='data-table'>
    <caption>Current Period</caption>
    <thead>
      <tr>
        <th colspan="2">Most Profitable Day</th>
        <th colspan="2">Most Expensive Day</th>
        <th colspan="2">Average Daily Revenue</th>
        <th colspan="2">Operating Expense Ratio</th>
      </tr>
    </thead>
    <!-- <tfoot>
      <tr>
        <td>I will be shown after tbody</td>
      </tr>
    </tfoot> -->
    <tbody>
      <tr>
        <!-- First row -->
        <td>{{stats.mostProfitableDay.date}}</td>
        <td>{{currency + (stats.mostProfitableDay.val).toLocaleString()}}</td>
        <td>{{stats.mostExpensiveDay.date}}</td>
        <td>{{currency + (stats.mostExpensiveDay.val).toLocaleString()}}</td>
        <td colspan="2">{{currency + (stats.avgRev.toFixed(2)).toLocaleString()}}</td>
        <td colspan="2">{{(stats.operatingExpenseRatio * 100).toFixed(2) + '%'}}</td>
      </tr>
    </tbody>
  </table>
  <!-- End Stats -->

  <ng-container *ngIf="!viewAsTable">
  <google-chart (select)="onSelect($event)" [type]="intervalToGroupBy !== 'Day' ? 'BarChart': 'LineChart'"
    [title]="chartData.chartTitle" [data]="displayData" [columns]="columns" [width]="1200" [height]="600">
  </google-chart>
</ng-container>

<!-- Start Table -->
<ng-container >
  <table id='excel-table' class='data-table' [hidden]="!viewAsTable">
    <tr>
      <th>
        Date
      </th>
      <th>
        Services
      </th>
      <th>
        Products
      </th>
      <th>
        Recurring
      </th>
      <th>
        Expenses
      </th>
    </tr>
    <tr *ngFor="let data of tableData">
      <td>
        {{data[0]}}
      </td>
      <td>
        {{data[1]}}
      </td>
      <td>
        {{data[2]}}
      </td>
      <td>
        {{data[3]}}
      </td>
      <td>
       ({{data[4]}})
      </td>
    </tr>
  </table>
</ng-container>
<!-- End Table -->

</ng-container>